<div class="sidebar">
    <div>
        <div class="sidebar-logo">
            <img src="assets/dashboard.png" alt="" class="img-logo">
            <img src="assets/clever.png" alt="" class="clever-logo">
        </div>
        <input type="checkbox" id="sidecheck" [(ngModel)]="appService.isChecked" />
        <div class="sidebar-nav">
            <div>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </div>
            <div>
                <a routerLink="/analytics" routerLinkActive="active">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i><span>Analytics</span>
                </a>
                <span class="tooltip">Analytics</span>

            </div>
            <div>
                <a routerLink="/messages" routerLinkActive="active">
                    <i class="fa fa-comment" aria-hidden="true"></i><span class="message">Messages</span>
                </a>
                <span class="notifi-count message-count">2</span>
                <span class="tooltip">Messages</span>
            </div>
            <div>
                <a routerLink="/collection" routerLinkActive="active">
                    <i class="fa fa-tag" aria-hidden="true"></i><span>Collections</span>
                </a>
                <span class="tooltip">Collections</span>
            </div>
            <div>
                <a routerLink="/user" routerLinkActive="active">
                    <i class="fa fa-users" aria-hidden="true"></i><span>Users</span>
                </a>
                <span class="tooltip">Users</span>
            </div>
            <hr>
            <div>
                <a routerLink="/setting" routerLinkActive="active">
                    <i class="fa fa-cog" aria-hidden="true"></i><span>Settings</span>
                </a>
                <span class="tooltip">Settings</span>
            </div>
            <div>
                <a routerLink="/notification" routerLinkActive="active">
                    <i class="fa fa-bell-o" aria-hidden="true"></i><span>Notifications</span>
                </a>
                <span class="notifi-count count">2</span>
                <span class="tooltip">Notifications</span>
            </div>
        </div>
        <div class="sidebar-nav">
            <div>
                <a routerLink="/account" routerLinkActive="active">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Account</span>
                </a>
                <span class="tooltip">Account</span>
            </div>
            <div>
                <a routerLink="/logout" routerLinkActive="active">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </div>
        </div>

    </div>



</div>