.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.sidebar-logo{
    display: flex;
    align-items: center;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid black; */
    /* justify-content: center ; */
}


.img-logo{
    width: 30px;
    height: 30px;
    margin: 0 11px 0 10px;
}

.clever-logo{
    width: 64.64px;
    Height:18px;
}

.sidebar-logo>h3{
  margin-left: 5px;
}

.sidebar-nav{
    margin-top: 40px;
}

.sidebar-nav div{
    margin:5px 0;
    padding: 10px;
    position: relative; 
}

.sidebar-nav div .notifi-count{
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 50%;
    font-weight: bold;
}
.message-count{
    color: #4C6FFF;
    background-color: #E1E8FF;

}
.count{
    color: #F16063;
    background-color:#FFE6E4 ;
}
/* .message{
    color: #4C6FFF;
} */

.sidebar-nav div:hover{
    background-color: rgb(238, 238, 238);
}

.sidebar-nav div .tooltip{
    position: absolute;
    left: 220px;
    top: 0;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 110px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    color: gray;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    z-index: 1;
}

.sidebar-nav div:hover .tooltip{
   top: 50%;
   opacity: 1;
   z-index: 1;
   transition: all 0.5s ease;
}


hr{
    border:1px solid rgb(233, 233, 233);
}

.sidebar-nav>div>a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-nav>div>a>i{
    margin:0 12px 0 10px;
    color:#A0AEC0;
}

.sidebar-nav div a.active{
    color:#4C6FFF;
}

@media(max-width: 750px){

    .img-logo{
        margin-left: 7px;
    }

    .sidebar-nav{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar-nav a span{
        display: none;
    } 
    .sidebar-nav>div>a>i{
        /* border: 1px solid black; */
        font-size: 18px;
        margin: 0 0 0 3px;
    }

    .sidebar-logo>h3{
        display: none;
    }

    .sidebar-nav div .tooltip{
        /* position: absolute; */
        left: 60px;
        /* top: 0;
        transform: translateY(-50%);
        border-radius: 6px;
        height: 35px;
        width: 110px;
        background: #fff;
        line-height: 35px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        color: gray;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        z-index: 1; */
    }   
}

#sidecheck{
    display: none;
}

#sidecheck:checked ~ .sidebar-logo>h3{
    display: none;
}

#sidecheck:checked ~ .sidebar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidecheck:checked ~ .sidebar-nav>div>a>i{
    font-size: 18px;
    margin: 0 0 0 3px;
}

#sidecheck:checked ~ .sidebar-nav a span{
    display: none;
}
#sidecheck:checked ~ .sidebar-nav>div>a>span{
    display: none;
}
#sidecheck:checked ~ .notifi-count{
    display: none;
}
#sidecheck:checked ~ .sidebar-nav div .tooltip{
   left: 70px;
} 
