.dashBoard{
    /* border: 1px solid black; */
    width: 100%;
    height: calc(100vh - 115px);
    display: flex;
    align-items:center;
    justify-content: center;
}
.dashBoard-para{
    /* border: 1px solid black; */
    padding: 10px ;
    font-weight: bold;
    color:#4C6FFF;
}